<h1>Listing Strain Data</h1>

<table>
  <tr>
    <th>Strain</th>
    <th>Purchase Date</th>
    <th>Dankness</th>
  </tr>

<% @data.each do |datum| %>
  <tr>
    <td><%= link_to datum.strain, datum %></td>
    <% if datum.spotdate %>
      <td><%= datum.spotdate.to_date() %></td>  
    <% end %>
      
    <td><%= datum.rating %></td>
    <td><%= link_to 'Edit', edit_datum_path(datum) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Datum', new_datum_path %>
