<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div id="header">    
    <%= render 'shared/head_bar' %>    
  </div>
  
  <div id="content">
    <%= yield %>
  </div>
  
  <div id="footer">
    <%= render 'shared/foot_bar' %>
  </div>
  
</body>
</html>
